body {
    font-family: 'Arial', sans-serif;
    background-color: #00000063;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('images/Sky4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.display {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 4%;
    background-color: rgba(255, 255, 255, 0.774);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.display #campus-select {
    margin-bottom: 20px;
    cursor: pointer;
}

.display #temp-unit-select {
    margin-bottom: 20px;
    cursor: pointer;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
}

.custom-dropdown .selected {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.custom-dropdown ul.options {
    display: none;
    left: 0;
    right: 0;
    position: absolute;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    z-index: 1;
}

.custom-dropdown ul.options.show {
    display: block;
    position: absolute;
    list-style: none;
    background-color: #ffffff64;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.custom-dropdown ul.options li {
    padding: 10px;
    cursor: pointer;
}

.custom-dropdown ul.options li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.custom-dropdown:hover .selected {
    background-color: rgba(255, 255, 255, 0.1);
}

#weather-info {
    padding: 20px;
}

#weather-info h2 {
    margin-top: 0;
    margin-bottom: 8px;
}

#weather-info p {
    margin: 0;
    margin-bottom: 4px;
    display: flex;

}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #cccccc94;
    /* Use the same background color as the body, or any other color you prefer */
}

footer a img {
    text-decoration: none !important;
    color: #8f0b0b95 !important;
}

footer a:hover img {
    opacity: 0.8;
}
